body { width: 75%; margin: auto; line-height: 1.5;background: url(Fundo.jpg) center ;}
.font {font-family: Lora; color: white;}
main {background: #ff14935e;}
.font {text-align: center;}
.tapetes >img {border: 5px solid black ;}
.contatos > a {margin: 20px;}
.whats {color: green; font-size: 30px;}
.face {color: blue; font-size: 30px;}
.contatos > h3 {font-family: sans-serif; color: white;}